/* set max width */
div.datepicker-dropdown {
  max-width: 300px; }

/* DATEPICKER */
div.daterangepicker,
div.datepicker {
  font-size: 13px;
  padding: 15px !important;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1) !important;
  border-radius: 0.25rem !important; }

div.datepicker.datepicker-dropdown {
  z-index: 9999999 !important; }

/* disabled */
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  color: #dee2e6; }

.datepicker-dropdown:before {
  display: none !important; }

.daterangepicker .ranges li:hover,
.daterangepicker .ranges li.active,
.datepicker table tr td span:hover,
.datepicker table tr td span.focused,
.datepicker table tr th:hover {
  background-color: #f8f9fa !important; }

.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.daterangepicker td.active,
.daterangepicker td.active:hover {
  border: transparent !important;
  background-color: #007bff !important;
  color: #fff !important; }

/* RANGEPICKER */
.datepicker table tr td,
.datepicker table tr th,
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  text-align: center;
  min-width: 31px !important;
  border: none !important;
  position: relative;
  padding: 6px;
  border-radius: 0.25rem !important; }

.datepicker table tr td.today:before,
.daterangepicker tbody td.today.in-range:before,
.daterangepicker tbody td.today:before {
  content: '';
  display: inline-block;
  border: solid transparent;
  border-bottom-color: #ffffff;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
  border-width: 0 0 7px 7px; }

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
  border-width: 2px 0 0 2px !important; }

.daterangepicker .ranges li {
  font-size: 13px !important;
  margin-bottom: 1px !important; }

.daterangepicker,
.daterangepicker .drp-buttons,
.daterangepicker.show-ranges .calendar.left {
  border: 0 !important; }

.daterangepicker:before {
  display: none !important; }

.daterangepicker .ranges li:hover,
.daterangepicker .ranges li.active {
  color: #121212 !important; }

/* 

	CUSTOM 

*/
.datepicker table tr th.today,
.datepicker table tr th.next:not(.disabled),
.datepicker table tr th.prev:not(.disabled),
.datepicker table tr th.datepicker-switch,
.datepicker table tr td.day:not(.disabled) {
  cursor: pointer; }

.datepicker table tr td.cw {
  font-weight: 500;
  color: #ced4da; }

.datepicker table tr td.day:not(.disabled):not(.dow):not(.cw):hover {
  background-color: #e9ecef; }

.datepicker table tr td.today {
  color: #000 !important;
  background-color: #ffdb99 !important;
  border-color: #ffb733 !important; }

.datepicker table tr td.today:hover {
  opacity: 0.9; }

.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  border-radius: 4px; }

/* title */
.datepicker table tr th.datepicker-title,
.datepicker table tr th.datepicker-title:hover {
  font-size: 15px;
  font-weight: 400;
  color: #4285F4;
  background-color: #ffffff !important; }

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
  border: 0 !important;
  display: inline-block !important;
  color: #121212 !important;
  transform: none !important; }

.daterangepicker .calendar-table .next span:before {
  font-family: "Flaticon";
  content: "\f1ae";
  display: inline-block; }

.daterangepicker .calendar-table .prev span:before {
  font-family: "Flaticon";
  content: "\f1ac";
  display: inline-block; }

.daterangepicker.show-ranges.ltr .drp-calendar.left {
  border-color: #e9ecef;
  display: inline-block; }

/* 
	ROUNDED 
*/
.datepicker-rounded table tr td,
.datepicker-rounded table tr th,
.daterangepicker-rounded .calendar-table th,
.daterangepicker-rounded .calendar-table td {
  padding: 6px; }

.datepicker-rounded table tr td,
.datepicker-rounded table tr th,
.daterangepicker-rounded .calendar-table td,
.daterangepicker-rounded .calendar-table th {
  border-radius: 50rem !important; }

.datepicker-rounded table tr td.today:before,
.daterangepicker-rounded tbody td.today.in-range:before,
.daterangepicker-rounded tbody td.today:before {
  bottom: 6px;
  right: 6px;
  border-width: 0 0 7px 7px; }
